

.top, footer{
    background-color: #1F2937;
    color: #f9faf8;
    margin: auto;
}

 

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;

}

h3{
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.nav-bar{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    gap: 65px;
}
 
.part-1{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    padding-bottom: 100px;
}


.title{
    font-size: 48px;
    font-weight: 900;
    flex-wrap: wrap;
    width: 280px;
}

.main-text{
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 35px;
    border-radius: 7px;
    border-color:#3882f6
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 30px 0px;
    margin: 40px;
}

.random-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    gap: 30px;
    padding: 40px;
    margin: 50px 100px;
}

img.info-img{

}

.quote{
    background-color: #e5e7eb;
    padding: 70px 100px;
    display: flex;
}

.quote-box{
    width: 700px;
   margin:auto;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    flex-shrink: 1;
    
}

.author{
    text-align: end;
    font-weight: bold;
    font-size: 18px;
}

.action{
    display: flex;
    background-color: #3882f6;
    padding: 30px 60px;
    margin: 80px 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;

}

h4{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

button.button-2{
    box-sizing: border-box;
    border-color: white;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
    flex: 0 0 auto;
    flex-wrap: nowrap;
}

footer{
    text-align: center;
    padding: 30px;
}






 
